<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar Menu | Side Navigation Bar</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Boxicons CSS -->
    <link
            href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
            rel="stylesheet"
    />
</head>
<body>
<nav>
    <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">AOM PRODUCT</span>
    </div>
    <div class="sidebar">
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">AOM PRODUCT</span>
        </div>

        <div class="sidebar-content">
            <ul class="lists">
                <li class="list">
                    <a th:href="@{/}" class="nav-link">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="link">หน้าหลัก</span>
                    </a>
                </li>
                <li class="list">
                    <a th:href="@{/chemicals}" class="nav-link">
                        <i class="bx bx-bar-chart-alt-2 icon"></i>
                        <span class="link" >น้ำยา</span>
                    </a>
                </li>
                <li class="list">
                    <a th:href="@{/molds}" class="nav-link">
                        <i class="bx bx-bar-chart-alt-2 icon"></i>
                        <span class="link" >โมลด์</span>
                    </a>
                </li>
                <li class="list">
                    <a th:href="@{/datasheets}" class="nav-link">
                        <i class="bx bx-bell icon"></i>
                        <span class="link" >ดาต้าชีท</span>
                    </a>
                </li>
            </ul>

            <div class="bottom-cotent">
                <li class="list">
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" class="nav-link">
                        <i class="bx bx-log-out icon"></i>
                        <span class="link">เข้าสู่ระบบ</span>
                    </a>
                    <a href="#" class="nav-link">
                        <i class="bx bx-cog icon"></i>
                        <span class="link">ตั้งค่า</span>
                    </a>
                </div>
                </li>
                <li class="list">
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="nav-link">
                        <i class="bx bx-log-in icon"></i>
                        <span class="link">Login</span>
                    </a>
                    <a th:href="@{/signup}" class="nav-link">
                        <i class="bx bx-log-out icon"></i>
                        <span class="link">Sign Up</span>
                    </a>
                </div>
                </li>

            </div>
        </div>
    </div>
</nav>

<section class="overlay"></section>

<script>
    const navBar = document.querySelector("nav"),
       menuBtns = document.querySelectorAll(".menu-icon"),
       overlay = document.querySelector(".overlay");

     menuBtns.forEach((menuBtn) => {
       menuBtn.addEventListener("click", () => {
         navBar.classList.toggle("open");
       });
     });

     overlay.addEventListener("click", () => {
       navBar.classList.remove("open");
     });
</script>
</body>
</html>


