<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar Menu | Side Navigation Bar</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Boxicons CSS -->
    <link
            href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
            rel="stylesheet"
    />
</head>
<body>
<nav>

    <div class="sidebar" sec:authorize="isAuthenticated()">
        <div class="logo">
            <span class="logo-name" style="color:white; justify-content: center;">AOM PRODUCT</span>
        </div>
        <div class="sidebar-content" >
            <ul class="lists">
                <li class="list">
                    <a th:href="@{/datasheets}" class="nav-link">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="link">หน้าหลัก</span>
                    </a>
                </li>
                <li class="list">
                    <a th:href="@{/chemicals}" class="nav-link">
                        <i class="bx bx-bar-chart-alt-2 icon"></i>
                        <span class="link" >น้ำยา</span>
                    </a>
                </li>
                <li class="list"  sec:authorize="hasAnyAuthority('PLANNER') or hasAnyAuthority('ADMIN')">
                    <a th:href="@{/molds}" class="nav-link">
                        <i class="bx bx-book-alt icon"></i>
                        <span class="link" >โมลด์</span>
                    </a>
                </li>
                <li class="list" sec:authorize="hasAnyAuthority('WAREHOUSE') or hasAnyAuthority('ADMIN')">
                    <a th:href="@{/datasheetWarehouse}" class="nav-link">
                        <i class="bx bx-bell icon"></i>
                        <span class="link">รายการคำขออนุมัติ</span>
                    </a>
                </li>
                <li class="list" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a th:href="@{/signup}" class="nav-link">
                        <i class="bx bx-user icon"></i>
                        <span class="link">สมัครพนักงาน</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>



</nav>



<script>
    const navBar = document.querySelector("nav");


    navBar.classList.toggle("open");


</script>
</body>
</html>


