<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/sidebar}"></div>

<div class="container w-50 p-3">
    <h1 class="display-6">สูตรน้ำยา</h1>
    <a class="btn btn-primary" th:href="@{/chemicals/add}">เพิ่มน้ำยา</a>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>ชื่อ</th>
            <th>ปริมาณ</th>
            <th>สัดส่วนmoca</th>
            <th>ความแข็ง</th>
            <th>เวลาในการอบ</th>
            <th>เวลาในการเซตตัว</th>
        </tr>
        <tr th:each="chemical : ${chemicals}">
            <td th:text="${chemical.getName()}"></td>
            <td th:text="${chemical.getVolume()}"></td>
            <td th:text="${chemical.getMocaRatio()}"></td>
            <td th:text="${chemical.getHardness().getHardness()}"></td>
            <td th:text="${chemical.getOvenTime()}"></td>
            <td th:text="${chemical.getSolidTime()}"></td>
        </tr>
    </table>



</div>



</body>

</html>
