<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link th:rel="stylesheet" th:href="@{/css/style.css}">

  <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:insert="~{fragments/sidebar}"></div>
<div class="container w-50 p-3">
  <h1 class="display-6">Datasheet Detail</h1>
  <form action="#" th:action="@{/chemicals/{name}(name = ${chemical.name})}" method="POST">
    <div class="mb-3">
      <label for="inputName">Name</label>
      <input disabled th:value="${chemical.name}" name="name" id="inputName" type="text" class="form-control">
      <label for="volume">ปริมาณ</label>
      <input  name="volume" id="volume" type="input" class="form-control">
      <button id="submit-button" type="submit" class="btn btn-primary">เพิ่ม</button>
    </div>
  </form>
</div>
</body>
</html>