<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-6">สูตรน้ำยา</h1>

    <button class="button-13" role="button" th:onclick="window.location.href='/chemicals/create'"sec:authorize="hasAnyAuthority('WAREHOUSE') or hasAnyAuthority('ADMIN')">เพิ่มน้ำยา</button>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%;">


        <tr style="text-align:center;">
            <th style="width: 15%;">ชื่อ</th>
            <th style="width: 15%;">ปริมาณ</th>
            <th style="width: 15%;">สัดส่วนmoca</th>
            <th style="width: 15%;">ความแข็ง</th>

            <th style="width: 15%;">เวลาในการอบ</th>
            <th style="width: 15%;">เวลาในการเซตตัว</th>
            <th style="width: 15%;" sec:authorize="hasAnyAuthority('WAREHOUSE') or hasAnyAuthority('ADMIN')" >หมายเหตุ</th>

        </tr>
        <tr style="text-align:center; "th:each="chemical : ${chemicals}">
            <td th:text="${chemical.getName()}"></td>
            <td th:text="${chemical.getVolume()}"></td>
            <td th:text="${chemical.getMocaRatio()}"></td>
            <td th:text="${chemical.getHardness().getHardness()}"></td>
            <td th:text="${chemical.getOvenTime()}"></td>
            <td th:text="${chemical.getSolidTime()}"></td>
            <td sec:authorize="hasAnyAuthority('WAREHOUSE') or hasAnyAuthority('ADMIN')"> <a class="underline" th:href="@{/chemicals/{name}(name = ${chemical.name})}">เพิ่มน้ำยา</a> </td>
        </tr>
    </table>
</div>
</body>
</html>
