<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-6">เพิ่มน้ำยา</h1>
    <form action="#" th:action="@{/chemicals/create}" method="POST"  >
        <div class="mb-3">
            <label for="inputName">ชื่อ</label>
            <input id="inputName" type="input" class="form-control"
                   name="name" required>
        </div>

        <div class="mb-3">
            <label for="inputOvenTime">เวลาในการอบ (นาที) </label>
            <input id="inputOvenTime" type="number" class="form-control"
                   name="ovenTime" min="0" required>
        </div>
        <div class="mb-3">
            <label for="inputSolidTime">เวลาในการเซตตัว (นาที) </label>
            <input id="inputSolidTime" type="number" class="form-control"
                   name="solidTime" min="0" required>
        </div>

        <div class="mb-3">
            <label for="inputVolume">ปริมาณ (นาที) </label>
            <input id="inputVolume" type="number" class="form-control"
                   name="volume" min="0" required>
        </div>

        <div class="mb-3">
            <label for="inputHardness">สัดส่วน moca </label>
            <input id="inputMocaRatio" type="number" step="any" class="form-control" name="mocaRatio"  min="0"required>
        </div>

        <div class="mb-3">
            <label for="inputHardness" >ความแข็ง</label>
            <select class="form-control" id="inputHardness" name="hardness" required>
                <option value="" hidden> เลือกความแข็ง
                </option>
            </select>
        </div>



        <button id="submit-button" type="submit" class="btn btn-primary">เพิ่ม</button>
    </form>




</div>
<script>
    const hardnessSelect = document.getElementById('inputHardness');
    const  getHardness = async ()=>{
        const hardness = await fetch("http://localhost:8095/api/hardness")
        const data = await hardness.json();
        return data;
    }

    const createHardnessSelect = async () => {
        const hardness = await getHardness();

        hardness.forEach((hardness) => {
            const option = document.createElement('option');
            option.value = hardness.hardness;
            option.text = hardness.hardness;

            hardnessSelect.appendChild(option);
        });
    }
    createHardnessSelect();




</script>

</body>

</html>
