<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-6">Datasheet</h1>
    <button class="button-13" role="button" th:onclick="window.location.href='/datasheets/create'" sec:authorize="hasAnyAuthority('PLANNER') or hasAnyAuthority('ADMIN')">สร้าง</button>
    <div class="mb-3">

        <div class="select-dropdown"  style="margin-top: 20px">
            <select id="statusFilter" class="select-menu">
                <option value="" disabled selected hidden>จัดเรียงตามสถานะ</option>
                <option value="" >ทั้งหมด</option>
                <option value="รอน้ำยา" >รอน้ำยา</option>
                <option value="พร้อมผลิต">พร้อมผลิต</option>
                <option value="ระหว่างการผลิต">เริ่มผลิต</option>
                <option value="ระหว่างการผลิต">ระหว่างการผลิต</option>
                <option value="ผลิตสำเร็จ" >ผลิตสำเร็จ</option>


            </select>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr style="text-align:center" >
            <th style="width:40%">ชื่อ</th>
            <th style="width:40%">สถานะ</th>
            <th style="width:40%">หมายเหตุ</th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align:center" th:each="datasheet : ${datasheets}">
            <td th:text="${datasheet.getName()}"></td>
            <td style="text-align: center" class="status" th:text="${datasheet.getStatus()}"></td>
            <td style="text-align: center">
                <a class="underline" th:href="@{/datasheets/{id}(id=${datasheet.getId()})}">รายละเอียด</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>
</body>

</html>
<script>

    var statusSelect = document.getElementById("statusFilter");
    var rows = document.querySelectorAll("table tbody tr");


    // Attach a change event listener to the select menu
    statusSelect.addEventListener("change", function () {
        var selectedStatus = statusSelect.value;

        rows.forEach(function (row) {
            var statusCell = row.querySelector("td.status");
            if (selectedStatus === "" || statusCell.textContent === selectedStatus) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });
    });
</script>
