<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/sidebar}"></div>

<div class="container w-50 p-3">
    <h1 class="display-6">Datasheet</h1>



    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th style="text-align: center" >Action</th>
            <th style="text-align: center">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="datasheet : ${datasheets}">
            <td th:text="${datasheet.getName()}"></td>
            <td style="text-align: center" class="status" th:text="${datasheet.getStatus()}"></td>
            <td style="text-align: center">
                <a class="btn btn-primary" th:href="@{/datasheetWarehouse/{id}(id=${datasheet.getId()})}">View</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>
