<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-6">Datasheet Create</h1>
    <form action="#" th:action="@{/datasheets/create}" method="POST">
        <div class="mb-3">
            <label for="inputName">Name</label>
            <input id="inputName" type="input" class="form-control"
                   name="name">
        </div>

        <div class="mb-3">
            <label for="inputShape">Shape</label>
            <select class="form-control" id="inputShape" name="hardness" >
                <option th:each="shape : ${shapeOptions}" th:value="${shape}" th:text="${shape}">
                </option>

            </select>
        </div>

       <div class="mb-3">
         <label for="inputHardness">Hardness</label>
          <select class="form-control" id="inputHardness" name="hardness" >
               <option th:each="hardness : ${hardnessList}" th:value="${hardness.hardness}" th:text="${hardness.hardness}">
               </option>

          </select>
     </div>


        <div class="mb-3">
            <label for="inputChemical">Chemical</label>
            <select class="form-control" id="inputChemical" name="chemical" th:href="@{/datasheets/findByHardness/{hardness}(hardness=${selectedValue})}">
                <option th:each="chemical : ${chemicalsForHardness}" th:value="${hardness.hardness}" th:text="${hardness.hardness}">
                </option>
            </select>
        </div>

        <button id="submit-button" type="submit" class="btn btn-primary">Add Chemical</button>
    </form>




</div>

</body>

</html>

<script>
    $(document).ready(function () {
        $('#inputHardness').change(function () {
            var selectedHardness = $(this).val();

            // Make an AJAX request to your controller
            $.get('/findByHardness', { hardness: selectedHardness }, function (data) {
                // Handle the response data here, e.g., populate the chemical dropdown
                var selectChemical = $('#inputChemical');
                selectChemical.empty(); // Clear previous options
                $.each(data, function (index, chemical) {
                    selectChemical.append($('<option>').attr('value', chemical.id).text(chemical.name));
                });
            });
        });
    });
</script>
