<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
<div th:insert="~{fragments/sidebar}"></div>

<div class="container w-50 p-3">
    <h1 class="display-6">Datasheet Create</h1>
    <form action="#" th:action="@{/datasheets/create}" method="POST">
        <div class="mb-3">
            <label for="inputName">Name</label>
            <input id="inputName" type="input" class="form-control"
                   name="name">
        </div>

        <div class="mb-3">
            <label for="inputShape">Shape</label>
            <select class="form-control" id="inputShape" name="shape" >
                <option th:each="shape : ${shapeOptions}" th:value="${shape}" th:text="${shape}">
                </option>

            </select>
        </div>

        <div class="mb-3">
            <label for="hardness">Hardness</label>
            <select class="form-control" id="hardness" name="hardness">
            <option th:each="hardness : ${hardnessList}" th:value="${hardness.hardness}" th:text="${hardness.hardness}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="chemical">Chemical</label>
            <select class="form-control" id="chemical" name="chemical">
                <option th:each="chemical : ${chemicals}" th:value="${chemical.name}" th:text="${chemical.name}">
                </option>
            </select>
        </div>



        <button id="submit-button" type="submit" class="btn btn-primary">Add Chemical</button>
    </form>




</div>

<!--<script>-->
<!--    function filterChemicalsByHardness() {-->
<!--        console.log('Function called');-->
<!--        // Get the selected hardness value.-->
<!--        const selectedHardness = document.getElementById('hardness').value;-->
<!--        const chemicalList = [[${chemicalList}]];-->
<!--        if (chemicalList !== null) {-->


<!--            // Filter the `chemicalList` to only include chemicals that have the same hardness as the selected hardness.-->
<!--            const filteredChemicalList = chemicalList.filter(chemical => chemical.hardness === selectedHardness);-->

<!--            // Update the `chemical` select field with the filtered `chemicalList`.-->
<!--            const chemicalSelect = document.getElementById('chemical');-->
<!--            chemicalSelect.innerHTML = '';-->
<!--            filteredChemicalList.forEach(chemical => {-->
<!--                const option = document.createElement('option');-->
<!--                option.value = chemical.name;-->
<!--                option.text = chemical.name;-->
<!--                chemicalSelect.appendChild(option);-->
<!--            });}}-->

<!--</script>-->
</body>
</html>





