<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/sidebar}"></div>

<div class="container w-50 p-3">
    <h1 class="display-6">Datasheet</h1>
    <a class="btn btn-primary" th:href="@{/datasheets/create}">สร้าง</a>

    <div class="mb-3">
        <div class="select-dropdown">
            <select id="statusFilter" class="select-menu">
                <option value="" disabled selected>Filtered By Status</option>
                <option value="" >All</option>
                <option value="COMPLETE">Complete</option>
                <option value="WAITING" >Waiting</option>
                <option value="COMPLETE_PRODUCTION" >Complete Production</option>
                <option value="ON_PRODUCTION">On Production</option>
            </select>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th style="text-align: center" >Action</th>
            <th style="text-align: center">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="datasheet : ${datasheets}">
            <td th:text="${datasheet.getName()}"></td>
            <td style="text-align: center">
                <a class="btn btn-primary" th:href="@{/datasheets/{id}(id=${datasheet.getId()})}">View</a>
            </td>
            <td style="text-align: center" class="status" th:text="${datasheet.getStatus()}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>
<script>
    var statusSelect = document.getElementById("statusFilter");
    var rows = document.querySelectorAll("table tbody tr");

    // Attach a change event listener to the select menu
    statusSelect.addEventListener("change", function () {
        var selectedStatus = statusSelect.value;

        rows.forEach(function (row) {
            var statusCell = row.querySelector("td.status");
            if (selectedStatus === "" || statusCell.textContent === selectedStatus) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });
    });
</script>
