<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
<div th:insert="~{fragments/header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-6">สร้าง Datasheet </h1>
    <form action="#" th:action="@{/datasheets/create}" method="POST">
        <div class="mb-3">
            <label for="inputName">ชื่อ</label>
            <input id="inputName" type="input" class="form-control"
                   name="name" required>
        </div>

        <div class="mb-3">
            <label for="inputShape">รูปทรง</label>
            <select class="form-control" id="inputShape" name="shape" required >
                <option value="" style="display: none">เลือกรูปทรง</option>
                <option value="rectangle">สี่เหลี่ยม</option>
                <option value="cylindrical">แท่งตัน</option>
                <option value="hallow-cylindrical">แท่งมีรู</option>
                <option value="else">อื่นๆ</option>

            </select>
        </div>

        <div class="mb-3" id="rectangleFields" style="display: none" >
            <label for="width" >กว้าง:</label>
            <input type="number" id="width" class="form-control"  style="border-color: green"; step="any" min="0" >

            <label for="long">ยาว:</label>
            <input type="number" id="long" class="form-control"  style="border-color: green"; step="any" min="0" >

            <label for="height">สูง:</label>
            <input type="number" id="height" class="form-control"  style="border-color: green"; step="any" min="0"  >


        </div>



        <div class="mb-3" id="cylindricalFields" style="display: none">
            <label for="diameter">เส้นผ่านศูนย์กลาง:</label>
            <input type="number" id="diameter" class="form-control"  style="border-color: green"; step="any" min="0" >


        </div>

        <div class="mb-3" id="hallow-cylindricalFields" style="display: none">
            <label for="diameter">เส้นผ่านศูนย์กลางรอบนอก:</label>
            <input type="number" id="outside-diameter" class="form-control"  style="border-color: green"; step="any"  min="0" >
            <label for="diameter">เส้นผ่านศูนย์กลางรอบใน:</label>
            <input type="number" id="inside-diameter" class="form-control"  style="border-color: green"; step="any" min="0" >
        </div>

        <button id="calculate-button"  class="btn btn-success" style="display: none">คำนวณปริมาตร</button>

        <div class="mb-3">
            <label for="volume">ปริมาตร</label>
            <input type="number" id="volume" class="form-control" name="volume" step="any" min="0" required>
        </div>

        <div class="mb-3">
            <label for="inputQuantity">จำนวน</label>
            <input id="inputQuantity" type="number" class="form-control"
                   name="quantity" min="0" required>
        </div>

        <div class="mb-3">
            <label for="moldId">โมลด์</label>
            <select class="form-control" id="moldId" name="moldId" required>
                <option value=""  hidden>
                    เลือกโมลด์
                </option>
            </select>
        </div>


        <div class="mb-3">
            <label for="hardness">ความแข็ง</label>
            <select class="form-control" id="hardness" name="hardness" required>
            <option value=""  hidden>
                เลือก ความแข็ง
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="chemicalName">น้ำยา</label>
            <select class="form-control" id="chemicalName" name="chemicalName" required>
                <option value=""  hidden>
                    เลือกน้ำยา
                </option>
            </select>
        </div>

        <button id="calculate-chem-button"  class="btn btn-success" >คำนวณน้ำยา</button>

        <div class="mb-3" id="chemical-solution" style="display: none">
            <label for="chemical-volume">ปริมาณน้ำยา</label>
            <input type="number" id="chemical-volume" class="form-control" name="chemicalVolume" style="border-color: green"; required>
            <label for="moca-volume">ปริมาณmoca </label>
            <input type="number" id="moca-volume" class="form-control"  name="mocaVolume" style="border-color: green"; required>
        </div>
        <input type="hidden" name="action" id="action" value="">
        <button id="submit1-button"  class="btn btn-primary" value="submit1" style="display: none">สร้าง</button>
        <button id="submit2-button"  class="btn btn-primary" value="submit2" style="display: none">สร้างรอน้ำยา</button>
    </form>




</div>
<script>
        const hardnessSelect = document.getElementById('hardness');
        const chemicalSelect = document.getElementById('chemicalName');
        const moldSelect = document.getElementById('moldId');

        const getChemical = async (hardness) =>  {
            const chemicals = await fetch(`http://localhost:8095/api/chemicals/${hardness}`) ;
            const data = await  chemicals.json();
            return data;
        }
        const getVolMoca = async () =>  {
            const moca = await fetch(`http://localhost:8095/api/moca`) ;
            const data = await  moca.json();
            return data;
        }
        const getMold = async () =>  {
            const molds = await fetch("http://localhost:8095/api/mold") ;
            const data = await  molds.json();
            return data;
        }



        const  getHardness = async ()=>{
            const hardness = await fetch("http://localhost:8095/api/hardness")
            const data = await hardness.json();
            return data;
        }
        const createMoldSelect = async () => {
            const  molds = await getMold();
            molds.forEach((mold)=>{
                const option = document.createElement('option');
                option.value = mold.id;
                option.text = mold.name;

                moldSelect.appendChild(option);
            })
        }
        const createHardnessSelect = async () => {
            const hardness = await getHardness();
            hardness.forEach((hardness) => {
                const option = document.createElement('option');
                option.value = parseInt(hardness.hardness);
                option.text = hardness.hardness;

                hardnessSelect.appendChild(option);
            });
        }

        hardnessSelect.addEventListener('change',async (e) => {
            const hardness = e.target.value;

            const chemicals = await getChemical(hardness)
            chemicalSelect.innerHTML = '<option value="" hidden> เลือกน้ำยา </option>';

            chemicals.forEach((chemical)=>{
                const option = document.createElement('option');
                option.value = chemical.name;
                option.text = chemical.name;
                option.dataset.chemical = JSON.stringify(chemical);


                chemicalSelect.appendChild(option)
            })
        })


        createHardnessSelect();
        createMoldSelect();
        $(document).ready(function() {
            $("#inputShape").on("change", function() {
                const selectedShape = $(this).val();
                console.log(selectedShape);
                if(selectedShape !== "" && selectedShape !== "else" ){
                    $("#calculate-button").show();
                }else if (selectedShape === "else") {
                    $("#calculate-button").hide();

                }

                 if (selectedShape === "rectangle") {
                     $("#rectangleFields").show();
                     $("#cylindricalFields").hide();
                     $("#hallow-cylindricalFields").hide();
                 } else if (selectedShape === "cylindrical") {
                     $("#rectangleFields").hide();
                    $("#cylindricalFields").show();
                     $("#hallow-cylindricalFields").hide();
                 } else if (selectedShape === "hallow-cylindrical") {
                     $("#rectangleFields").hide();
                     $("#cylindricalFields").hide();
                     $("#hallow-cylindricalFields").show();
                } else {
                     $("#rectangleFields").hide();
                     $("#cylindricalFields").hide();
                     $("#hallow-cylindricalFields").hide();
                 }
            });

            $("#calculate-button").on("click", function(event) {
                event.preventDefault();
                const selectedShape = $("#inputShape").val();
                let result = 0;

                if (selectedShape === "rectangle") {
                    const width = parseFloat($("#width").val());
                    const long = parseFloat($("#long").val());
                    const height = parseFloat($("#height").val());
                    result = width * height * long;
                } else if (selectedShape === "cylindrical") {
                    const diameter = parseFloat($("#diameter").val());
                    result = Math.PI * diameter * diameter * 2 / 4;
                }
                else if (selectedShape === "hallow-cylindrical") {
                    const outsideDiameter = parseFloat($("#outside-diameter").val());
                    const insideDiameter = parseFloat($("#inside-diameter").val());
                    result = Math.PI * (Math.pow(outsideDiameter,2)-Math.pow(insideDiameter,2)) * 2 / 4;
                }

                if(result < 500){
                    result = result*1.3;
                }else if ( 500<result && result <= 1500){
                    result = result*1.25;
                }else if ( 1500<result && result<= 7000){
                    result = result*1.16;
                }else if ( result > 7000){
                    result = result*1.1;
                }

                document.getElementById("volume").value = Math.ceil(result / 10) * 10;
            });



        });
        $(document).ready(function() {
            $('#calculate-chem-button').click(function() {
                if ($('#volume').val() === "" || $('#inputQuantity').val() === "" || $('#moldId').val() === "" || $('#hardness').val() === "" || $('#chemicalName').val() === "") {
                    alert("กรอกข้อมูลให้ครบ");
                }
            });
        });
        document.getElementById('calculate-chem-button').addEventListener('click', async function (event) {
            event.preventDefault();

            const mocaVolRemain = await getVolMoca();


            const quantity = (document.getElementById("inputQuantity")).value;


            const selectedChemicalOption = document.getElementById('chemicalName').options[document.getElementById('chemicalName').selectedIndex];
            const chemical = JSON.parse(selectedChemicalOption.dataset.chemical);

            const chemicalVolRemain = chemical.volume;
            const volume = parseFloat(document.getElementById('volume').value);


            let mocaVolume = 0;
            let chemicalVolume = 0;

            mocaVolume = Math.floor(volume * chemical.mocaRatio / (100+chemical.mocaRatio)) ;
            chemicalVolume = Math.ceil((volume - mocaVolume)/10) *10;
            console.log(chemical.mocaRatio);
            console.log(mocaVolume);


            document.getElementById("chemical-volume").value = chemicalVolume;
            document.getElementById("moca-volume").value = mocaVolume;
            $("#chemical-solution").show();

            if( (mocaVolume * quantity) <= mocaVolRemain && (chemicalVolume * quantity) <= chemicalVolRemain){
                $("#submit1-button").show();
                $("#submit2-button").hide();
                console.log("enough");
            }else{
                $("#submit1-button").hide();
                $("#submit2-button").show();
                console.log("need");
            }


        });
        $("#submit1-button").on("click", function() {
            $("#action").val("submit1");
        });

        $("#submit2-button").on("click", function() {
            $("#action").val("submit2");
        });




</script>
</body>
</html>





