<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/sidebar}"></div>
<div class="container w-50 p-3">
    <h1 class="display-6">Datasheet Detail</h1>
    <div id ="default">
        <label th:text="${product.name}" name="name" id="inputPName" type="text" ></label>
        <label th:value="${product.quantity}" th:text="${product.quantity}" name="quantity" id="total-quantity" type="text" ></label>
        <label th:value="${product.status}" th:text="${product.status}" name="status" id="status" type="text" ></label>

        <table class="table table-bordered table-striped table-hover" >

            <tr>
                <th>วัน</th>
                <th>จำนวน</th>

            </tr>
            <tr th:each="process : ${processes}">
                <td th:text="${process.getDate()}"></td>
                <td th:text="${process.getQuantityRecord()}"></td>


            </tr>

            <tr> <td> total </td>
                <td th:text="${sumProduced}" id="sum-produced"></td> </tr>
        </table>
    </div>

    <form id="form-complete" th:object="${product}" th:action="@{/datasheets/{id}/produce(id=${product.id})}" method="POST">

        <button id="submit-complete-button" type="submit" class="btn btn-primary" >เริ่มผลิต</button>
    </form>

    <form id="form-completeproduct" th:object="${product}" th:action="@{/datasheets/{id}/producefinish(id=${product.id})}" method="POST">

        <button id="submit-completeproduct-button" type="submit" class="btn btn-primary" > สิ้นสุดการผลิต </button>
    </form>

    <form id="form-onproduct" th:object="${product}" th:action="@{/processRecords/{id}(id=${product.id})}" method="POST">
        <div class="mb-3">
            <label for="date">Date</label>
            <input name="date" id="date" type="text" class="form-control"  data-provide="datepicker">
            <label for="quantity">Quantity</label>
            <input name="quantityRecord" id="quantity" type="text" class="form-control">
        </div>
        <button id="submit-onproduct-button" type="submit" class="btn btn-primary" >บันทึกข้อมูล</button>
    </form>
</div>
</body>

<script>
    // Get the status input element by ID
    const status = document.getElementById("status").textContent;
    const quantity = document.getElementById("total-quantity").textContent;
    const sumProduced = document.getElementById("sum-produced").textContent;
    if (status) {

        const formComplete = document.getElementById("form-complete");
        const formOnProduct = document.getElementById("form-onproduct");
        const formCompleteProduct = document.getElementById("form-completeproduct");
        const normal = document.getElementById("default");



        if (status === "COMPLETE") {
            formComplete.style.display = "block";
            formOnProduct.style.display = "none";
            normal.style.display = "block";
            formCompleteProduct.style.display = "none";
        }
        else if (status === "ON_PRODUCTION" && quantity >= sumProduced ) {
            formComplete.style.display = "none";
            formOnProduct.style.display = "none";
            normal.style.display = "block";
            formCompleteProduct.style.display = "block";
        }
        else if (status === "ON_PRODUCTION") {
            formComplete.style.display = "none";
            formOnProduct.style.display = "block";
            normal.style.display = "block";
            formCompleteProduct.style.display = "none";
        }
        else {
            formComplete.style.display = "none";
            formOnProduct.style.display = "none";
            normal.style.display = "block";
            formCompleteProduct.style.display = "none";
        }
    }
</script>
</html>
