<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<title> ยินดีต้อนรับ </title>
<img src="https://scontent.fbkk2-3.fna.fbcdn.net/v/t39.30808-6/374282917_757674959703090_2438342730243321285_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=50gXcWQoCTYAX8I55No&_nc_ht=scontent.fbkk2-3.fna&oh=00_AfCdLe_bSDxe5cUbV7lttWRlII7WZovoc736f4i4QlLECQ&oe=654DEB66" width="1300">
<a th:href="@{/datasheets}" class="nav-link" style="text-align: center;">
    <i class="bx bx-home-alt icon"></i>
    <span class="link" style="text-align :center; color:black;">เข้าสู่เว็บไซต์</span>
</a>

</body>
</html>