<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header}"></div>

<div class="container w-50 p-3">
    <h1 class="display-6">รายการโมลด์</h1>
    <button class="button-13" role="button" th:onclick="window.location.href='/molds/add'">เพิ่มโมลด์</button>
    <table class="table table-bordered"  style="margin-top: 20px"   >
        <tr>
            <th>ชื่อ</th>
            <th style="width:40%; text-align: center ">จำนวน</th>

        </tr>
        <tr th:each="mold : ${molds}">
            <td th:text="${mold.getName()}"></td>
            <td th:text="${mold.getQuantity()}"></td>

        </tr>
    </table>



</div>

</body>

</html>
