<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aom Product Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="~{fragments/header}"></div>
<div class="container w-50 p-3">
    <h1 class="display-5">สมัครสมาชิก</h1>


    <form action="#" th:action="@{/signup}" method="POST">


        <div id="success-msg" class="alert alert-success"
             th:if="${signupSuccess}">
           สมัครสำเร็จ
        </div>
        <div id="error-msg" class="alert alert-danger"
             th:if="${signupError}">
            <span th:text="${signupError}"></span>
        </div>


        <div class="mb-3">
            <label for="inputName">ชื่อ</label>
            <input id="inputName" type="input" class="form-control"
                   name="name" required>
        </div>
        <div class="mb-3">
            <label for="inputUsername">username</label>
            <input id="inputUsername" type="input" class="form-control"
                   name="username" required>
        </div>
        <div class="mb-3">
            <label for="inputRole">ประเภทพนักงาน</label>
            <select class="form-control" id="inputRole" name="role" required >
                <option value="" style="display: none">เลือก</option>
                <option value="PLANNER">ฝ่ายวางแผน</option>
                <option value="WAREHOUSE">ฝ่ายจัดซื้อ</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="inputPassword">รหัสผ่าน</label>
            <input id="inputPassword" type="password" class="form-control"
                   name="password" required>
        </div>
        <button id="submit-button" type="submit" class="button-13">สมัคร</button>
    </form>
</div>


</body>

<script>

</script>
</html>